
data/image_to_text/glove.840B.300d.txt
.ipynb_checkpoints/eda-checkpoint.ipynb
data/image_to_text/glovetmp.txt
weights/word_embedding/wordembed-weights-01-6.6982.hdf5
weights/word_embedding/wordembed-weights-02-5.9727.hdf5
weights/word_embedding/wordembed-weights-03-5.6386.hdf5
weights/word_embedding/wordembed-weights-75-2.5317.hdf5
weights/word_embedding/wordembed-weights-05-5.1239.hdf5
weights/word_embedding/wordembed-weights-10-4.1001.hdf5
weights/word_embedding/wordembed-weights-100-2.4301.hdf5
weights/word_embedding/wordembed-weights-105-2.4159.hdf5
weights/word_embedding/wordembed-weights-109-2.4030.hdf5
weights/word_embedding/wordembed-weights-15-3.5101.hdf5
weights/word_embedding/wordembed-weights-19-3.2757.hdf5
weights/word_embedding/wordembed-weights-20-3.2334.hdf5
weights/word_embedding/wordembed-weights-25-3.0648.hdf5
weights/word_embedding/wordembed-weights-30-2.9529.hdf5
weights/word_embedding/wordembed-weights-35-2.8623.hdf5
weights/word_embedding/wordembed-weights-40-2.7982.hdf5
weights/word_embedding/wordembed-weights-45-2.7379.hdf5
weights/word_embedding/wordembed-weights-50-2.6925.hdf5
weights/word_embedding/wordembed-weights-55-2.6504.hdf5
weights/word_embedding/wordembed-weights-60-2.6181.hdf5
weights/word_embedding/wordembed-weights-65-2.5842.hdf5
weights/word_embedding/wordembed-weights-70-2.5563.hdf5
weights/word_embedding/wordembed-weights-80-2.5103.hdf5
weights/word_embedding/wordembed-weights-85-2.4883.hdf5
weights/word_embedding/wordembed-weights-90-2.4694.hdf5
weights/word_embedding/wordembed-weights-95-2.4506.hdf5
